.commit {
  margin: 1rem;
  &__wrapper {
    padding: 1.5rem;
    border: 1px solid #aabdbd;
    border-radius: 10px;
    box-shadow: 0px 10px 10px 0px #d7dde2;
    background-color: #e8dfca;
  }
  &__header {
    margin: 0;
    overflow: hidden;
    margin-bottom: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &__info {
    font-weight: bold;
  }
  &__time {
    color: rgb(87, 87, 87);
    font-weight: 600;
    margin-right: 0.4rem;
  }
  &__user {
    margin-left: 0.4rem;
  }
}