.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.body {
  width: 100%;
  border-top: 1px solid #2C3333;
  max-height: calc(100vh - 100px);
}
@media screen and (min-width:640px){
  .body {
    width: 600px;
  }
}
.commit-container-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
  h2 {
    margin: 0;
  }
  button {
    background-color: #7895b2;
    border: 1px solid #babaff;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    text-transform: capitalize;
    transition: all 0.3s linear;
    &:hover {
      background-color: #aebdca;
      cursor: pointer;
    }
  }
}
.timer {
  font-size: 14px;
  margin-bottom: 0.3rem;
}